* {
  font-family: 'Saira', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #694f5d;
}

body {
  background-color: #efc7c2;
}

.bg-gray {
  background-color: #bfd3c1;
}

.bg-purple, .divider {
  background-color: #694f5d;
}

.crossed-text {
  text-decoration: line-through;
}

progress {
  background-color: #694f5d;
  height: 8px;
  border: 1px solid gray;
  border-radius: 2px;
}
progress::-webkit-progress-bar {
  background-color: #ffffff;
}
progress::-webkit-progress-value {
  background-color: #694f5d;
}
progress::-moz-progress-bar {
  background-color: #694f5d;
}